extends layout

block content
  .siimple-grid-row
    .siimple-grid-col.siimple-grid-col--3
      .account-box
        if username
          h3.user-name #{username}
          if !isMember
            a.siimple-btn.siimple-btn--warning.siimple-btn--fluid(href='/member_signup') Join Us
          else
            if !isAdmin
              a.siimple-btn.siimple-btn--pink.siimple-btn--fluid(href='/member_signup') Become An Admin

          a.siimple-btn.siimple-btn--navy.siimple-btn--fluid(href='/logout') logout

        else
          a.siimple-btn.siimple-btn--grey.siimple-btn--fluid(href='/login') login
          a.siimple-btn.siimple-btn--success.siimple-btn--fluid.signup-btn(href='/signup') Sign Up
    
    .siimple-grid-col.siimple-grid-col--9
      if username
        .message-form-wrapper
          form#message-form(method='POST' action='/add-message')
            div.input-container
              label(for=msg-title)
              input#msg-title.siimple-input.siimple-input--fluid(type="text" name="title" placeholder="Title here" required="required")
            div.input-container
              label(for="msg-text")
              textarea.siimple-textarea.siimple-textarea--fluid(rows="5" name='text' placeholder='Text message here' required="required")
            button.siimple-btn.siimple-btn--primary(type='submit') Post Message

      - messages.sort((a, b) => b.date_posted - a.date_posted);
      each msg in messages
        .siimple-card.msg-container
          .siimple-card-body
            .siimple-card-title #{msg.title}
            if isMember || (msg.user.username == username && typeof username == 'string')
              .siimple-card-subtitle #{'@' + msg.user.username}

            .siimple-card-subtitle.msg-date #{msg.date_posted_formatted}
            | #{msg.text}
          if isAdmin
            .delete-container
              form(method='POST' action='/delete-message')
                input(type='hidden',name='msgid', required='true', value=msg._id )
                button.delete-btn(type='submit')

  if memberSuccessAlert
    script
      | setTimeout(() => alert("Success! You are now a Member!"), 100)
  if adminSuccessAlert
    script
      | setTimeout(() => alert("Success! You are now an Admin!"), 100)
